@model IEnumerable<DapperSampleNorthWind.Models.ProductViewModel>
@{
    ViewData["Title"] = "Product List";
}
<div class="card m-3">
    <div class="card-header">
    Product List
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">

            <thead>
                <tr>
                  <th>ProductID</th>                  
                  <th>ProductName</th>
                  <th>SupplierID</th>
                  <th>CategoryID</th>
                  <th>QuantityPerUnit</th>
                  <th>UnitPrice</th>
                  <th>CategoryName</th>
                  <th>CompanyName</th>
               </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                <tr>
                  <td>@item.ProductID</td>
                  <td>@item.ProductName</td>
                  <td>@item.SupplierID</td>
                  <td>@item.CategoryID</td>
                  <td>@item.QuantityPerUnit</td>
                  <td>@item.UnitPrice</td>
                  <td>@item.CategoryName</td>
                  <td>@item.CompanyName</td>
                </tr>
                    

                }
            </tbody>

        </table>


    </div>
    <hr/>
    <div class="card-header">
    Category List
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">

            <thead>
                <tr>
                  <th>Category ID</th>                  
                  <th>Category Name</th>
               </tr>
            </thead>
            <tbody>
                @foreach(var item in ViewBag.Categories)
                {
                <tr>
                  <td>@item.CategoryId</td>
                  <td>@item.CategoryName</td>
                </tr>
                    

                }
            </tbody>

        </table>


    </div>


</div>
